{% comment %}
  Renders a product media gallery. Should be used with 'media-gallery.js'
  Also see 'product-media-modal'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant
  - is_duplicate: {Boolean} Prevents rendering uneeded elements and duplicate ids for subsequent instances

  Usage:
  {% render 'product-media-gallery', is_duplicate: true %}
{% endcomment %}
<style>
  .item-slick.slick-slide.slick-current.slick-active {
	outline: none!important  
}

.slider-for {
  margin-bottom: 5px;
}

.slider-for img {
  width: 100%;
  min-height: 100%; 
}

.slider-nav {
  margin: auto;
}

.slider-nav .item-slick {
  max-width: 40px;
  margin-right: 10px;
  outline: none!important;
  cursor: pointer;
}

.slider-nav .item-slick img {
  max-width: 100%;
  background-size: cover;
  background-position: center; 
}

.slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 50;
  margin-top: -12px; 
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0; 
}
</style>

<div class="large-up-hide bcs_mobile_gallery">
  <div class="container">
  <div class="slider-container">
      <div class="slider-for">
        <img class="item-slick" src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" alt="Alt">
        <img class="item-slick" src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" alt="Alt">
        <img class="item-slick" src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" alt="Alt">
        <img class="item-slick" src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" alt="Alt">
      </div>
      <div class="slider-nav"> 
         <img class="item-slick" src="http://farm9.staticflickr.com/8242/8558295633_f34a55c1c6_b.jpg" alt="Alt">
        <img class="item-slick" src="http://farm9.staticflickr.com/8382/8558295631_0f56c1284f_b.jpg" alt="Alt">
        <img class="item-slick" src="http://farm9.staticflickr.com/8225/8558295635_b1c5ce2794_b.jpg" alt="Alt">
        <img class="item-slick" src="http://farm9.staticflickr.com/8383/8563475581_df05e9906d_b.jpg" alt="Alt">
      </div>
  </div>
</div>
</div>

<media-gallery
  id="MediaGallery-{{ section.id }}{{ id_append }}"
  role="region"
  {% if section.settings.enable_sticky_info %}
    class="small-hide medium-hide product__column-sticky"
  {% endif %}
  aria-label="{{ 'products.product.media.gallery_viewer' | t }}"
  data-desktop-layout="{{ section.settings.gallery_layout }}"
>
  <div id="GalleryStatus-{{ section.id }}" class="visually-hidden" role="status"></div>
  <slider-component
    id="GalleryViewer-{{ section.id }}{{ id_append }}"
    style="overflow:hidden "
    class="slider-mobile-gutter"
  >
    <div class="slider-galeria-thumbs">
      {%- for media in product.media -%}
        <img class="thumb" src="  {{ media | img_url: '125px' }}">
      {%- endfor -%}
    </div>

    <div class="slider-galeria">
      {%- for media in product.media -%}
        <img class="main_pro" src="  {{ media | img_url: 'master' }}">
      {%- endfor -%}
    </div>
  </slider-component>
</media-gallery>
